@charset:"utf-8";
.sina-mng-header{
	width: 100%;
	text-align: center;
	background: #3a3a3a;
}

.sina-mng-body{
	width: 100%;
	min-height: 500px;
	padding: 0px 0px 0px 50px;
	background: #3a3a3a;
	text-align: center;
}

.sina-mng-container{
	width: 960px;
	min-height: 500px;
	text-align: left;
	margin: auto;
}